<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registrations.css">
    </script>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="main_container">
                <div class="left_contianer">
                    <img class="header__image_logo" src="../static/assets/logo.png" onclick="redirectToLanding()"
                        alt="">
                    <h1 class="form_title_login">Log In</h1>
                    <form action="/login/user" method="post">
                        <input class="email__login" type="email" id="email" name="email" placeholder="Email">
                        <div class="password-field">
                            <input name="password" class="password" type="password" placeholder="Password"
                                id="password">
                            <div class="passwordBtn">
                                <i class="fa fa-eye"></i>
                                <i class="fa fa-eye-slash"></i>
                            </div>
                        </div>
                        <div class="links">
                            <a href="/register" class="password_forgot">Create account</a>
                            <a class="password_forgot _1" href="/forgot/pass">Forgot Password?</a>
                        </div>


                        <button class="login_button">Let's go!</button>
                    </form>
                </div>
                <div class="right_container">
                    <h1 class="right_cont_title">Experience coding joy and learn with fun!</h1>
                    <img class="right_cont_image" src="../static/assets/Studying-rafiki.png" alt="">
                </div>
            </div>
        </div>
        <script>
            const passwordInput = document.getElementById('password');
            const passwordBtn = document.querySelector('.passwordBtn');
            const showPasswordIcon = passwordBtn.querySelector('.fa-eye-slash');
            const hidePasswordIcon = passwordBtn.querySelector('.fa-eye');
            const passwordState = localStorage.getItem('passwordState');

            if (passwordState === 'hidden') {
                passwordInput.type = 'password';
                showPasswordIcon.style.display = 'block';
                hidePasswordIcon.style.display = 'none';
                showPasswordIcon.classList.add('active');
            } else {
                passwordInput.type = 'text';
                showPasswordIcon.style.display = 'none';
                hidePasswordIcon.style.display = 'block';
                hidePasswordIcon.classList.add('active');
            }

            passwordBtn.addEventListener('click', function () {
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    showPasswordIcon.style.display = 'none';
                    hidePasswordIcon.style.display = 'block';
                    showPasswordIcon.classList.remove('active');
                    hidePasswordIcon.classList.add('active');
                    localStorage.setItem('passwordState', 'visible');
                } else {
                    passwordInput.type = 'password';
                    showPasswordIcon.style.display = 'block';
                    hidePasswordIcon.style.display = 'none';
                    hidePasswordIcon.classList.remove('active');
                    showPasswordIcon.classList.add('active');
                    localStorage.setItem('passwordState', 'hidden');
                }
            });

            function redirectToLanding() {
                window.location.href = "/";
            }

            function showForm() {
                var overlay = document.getElementById('overlay');
                var formContainer = document.getElementById('formContainer');
                overlay.style.display = 'block';
                formContainer.style.display = 'block';

                // Store the form visibility state in localStorage
                localStorage.setItem('formVisible', 'true');
            }

            function closeForm() {
                var overlay = document.getElementById('overlay');
                var formContainer = document.getElementById('formContainer');
                overlay.style.display = 'none';
                formContainer.style.display = 'none';

                // Remove the form visibility state from localStorage
                localStorage.removeItem('formVisible');
            }

            // Check the form visibility state on page load
            window.addEventListener('load', function () {
                var isFormVisible = localStorage.getItem('formVisible');
                if (isFormVisible === 'true') {
                    showForm();
                }
            });
        </script>
</body>

</html>