<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/pricing.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'js/pricing.js')}}">
    <script src="https://kit.fontawesome.com/e53bf076c4.js" crossorigin="anonymous"></script>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <title>Pricing</title>
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>
    <header class="header">
        <nav>
            <div class="row">
                <div class="header__left_container">
                    <div class="header__logo">
                        <img class="header__image_logo" src="../static/assets/logo.png" alt=""
                            onclick="redirectToLanding()">
                    </div>
                </div>
                <div class="header__right_container">
                    {% if session['user_id'] != Null %}
                    <div class="user_greeting">{{ first_name }}</div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <section class="main_cont_price">
        <div class="main_cont_price_row">
            <h1 class="main_cont_title">Start today and get closer towards financial freedom</h1>
            <div class="main_div">
                <div class="main_basic_cont contoftwo" id="basic-plan">
                    <div class="contoftwo_section_one">
                        <h1 class="contoftwo_section_one_title">Basic</h1>
                        <p class="contoftwo_section_one_sub_title">Ideal for those who want to learn the basics of programming. You will have a solid foundation after all crash courses.</p>
                        <h1 class="price">Free</h1>
                        <span class="month">No Cost</span>

                        <button class="contoftwo_btn basicbtn" disabled>You Already Got This!</button>
                    </div>
                    <div class="contoftwo_section_two">
                        <h1 class="contoftwo_section_two_title">Features</h1>
                        <ul class="featuresList">
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                        </ul>
                    </div>
                </div>
                <div class="main_premium_cont contoftwo" id="premium-plan">
                    <div class="contoftwo_section_one">
                        <h1 class="contoftwo_section_one_title">Premium</h1>
                        <p class="contoftwo_section_one_sub_title">Ideal for those who want to fast-track their coding career. Land a developer job in under 12 months or get a full refund.</p>
                            <h1 class="price">$38</h1>
                            <span class="month">per month</span>
                        <button class="contoftwo_btn" id="checkout-button">Get Started</button>
                    </div>
                    <div class="contoftwo_section_two">
                        <h1 class="contoftwo_section_two_title">Features</h1>
                        <ul class="featuresList">
                            <li> <i class="fas fa-check"></i> testtesttestetset</li>
                            <li> <i class="fas fa-check"></i> testtesttestetset</li>
                            <li> <i class="fas fa-check"></i> testtesttestetset</li>
                            <li> <i class="fas fa-check"></i> testtesttestetset</li>
                            <li> <i class="fas fa-check"></i> testtesttestetset</li>
                            <li> <i class="fas fa-check"></i> testtesttestetset</li>
                            <li> <i class="fas fa-check"></i> testtesttestetset</li>
                        </ul>
                    </div>


                </div>
                <div class="main_advanced_cont contoftwo" id="advanced-plan">
                    <div class="contoftwo_section_one">
                        <h1 class="contoftwo_section_one_title">Advanced</h1>
                        <p class="contoftwo_section_one_sub_title">Ideal for those who want to fast-track their coding career. Land a developer job in under 12 months or get a full refund.</p>
                        <h1 class="price">$70</h1>
                        <span class="month">Per Month</span>
                        <button class="contoftwo_btn" id="advaced-button">Apply Here</button>
                    </div>
                    <div class="contoftwo_section_two">
                        <h1 class="contoftwo_section_two_title">Features</h1>
                        <ul class="featuresList">
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                            <li><i class="fas fa-check"></i> testtesttestetset</li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </section>
    </div>



    <script>

var amountPaid = {{ user.amount_paid }}; // Replace {{ user.amount_paid }} with the actual variable holding the value

// Function to apply highlighting based on 'amountPaid' value
function applyHighlighting() {
  if (amountPaid === 7000) {
    document.getElementById('advaced-button').innerText = 'You Have this!';
    document.getElementById('advaced-button').classList.add('basicbtn');
    document.getElementById('advaced-button').disabled = true;

  } else if (amountPaid === 3800) {
    document.getElementById('checkout-button').innerText = 'You Have this!';
    document.getElementById('checkout-button').classList.add('basicbtn');
    document.getElementById('checkout-button').disabled = true;


  }
}

// Call the function to apply the highlighting
applyHighlighting();
        function redirectToLanding() {
            window.location.href = "/";
        }
    
        document.getElementById('checkout-button').addEventListener('click', function () {
            fetch('/create-checkout-session', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userId: "{{ user.id }}" }) // Pass the user ID in the request body
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                var stripe = Stripe('pk_test_51NDup2FabksylCi830zi3NH1XSTPzSgwNmldMSOZ77XMVUWQeHwvlgP4AVxz7QpbDhwyVs1S4tb52q4lOHUj2F5x00RBGQuLCP');
                stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
        });


        document.getElementById('advaced-button').addEventListener('click', function () {
            fetch('/create-checkout-session/premium', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userId: "{{ user.id }}" }) // Pass the user ID in the request body
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                var stripe = Stripe('pk_test_51NDup2FabksylCi830zi3NH1XSTPzSgwNmldMSOZ77XMVUWQeHwvlgP4AVxz7QpbDhwyVs1S4tb52q4lOHUj2F5x00RBGQuLCP');
                stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
        });

    
    </script>
    
</body>

</html>